/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("sanfranciscotext-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("sanfranciscotext-semibold-webfont.woff");
}