.content
	h1 Looking for a freelance web developer?
	h3 I'm your guy :)
	p	I'm Krish Dholakiya, a freelance full-stack web developer. I'm currently looking for freelance work, and if you're viewing this, I presume you're looking for a freelancer. I can help you by building your next web project. Whether it's a landing page for your startup or a full-fledged web application, you can count me in.	
	p Here are some quick terms that I abide by:
		ul
			li I work for a flat fee based on your project
			li I'd like 15% up front
			li I set milestones based on each project. Upon completion of each milestone, I expect a certain percentage of the fee (specifics based on your project, and shared up front)
			li No, unfortunately I can't directly copy another website or make the next Facebook
			li I accept online payments via PayPal, as well as Bitcoin		
	
	p	My skillset is comprised of:
		ul
			li HTML (EJS or Jade)
			li CSS (LESS, Sass, or Stylus)
			li Front-End JavaScript
				ul
					li vanilla
					li AngularJS
					li D3.js
					li Leaflet.js
			li Server-Side JavaScript (node.js)
				ul
					li Express.js
					li Sails.js
					li Harp
					li Your choice of database (PostgreSQL and MongoDB are my defaults)
			li Server Administration
				ul
					li IaaS/VPS (AWS, DigitalOcean, etc)
					li PaaS (Heroku)
					liStatic (Shared hosting, Github Pages)

	p	Like what you see? Contact me here so I can get back to you ASAP with a quote for your project.

	form(action='//forms.brace.io/krishna.dholakiya@gmail.com', method='POST', ng-submit='submitFreelance()')
		input(type='text', name='Name', placeholder='Full Name')
		input(type='email', name='Email', placeholder='Email Address')
		textarea(name='Work')
			| Describe your project here. The more detailed you are, the faster I'll be able to finalize the quote and get started.
		input(type='submit') Submit
