doctype html
html
	head
		title krish dholakiya
		link(href="/main.css", type="text/css", rel="stylesheet")
		script(src="/app.js")
	body
		.container
			!= yield
		footer
			p Made w love in Boulder. Work in progress :)
