.modal.freelance.animated.fadeIn
  i.icon.ion-close-round
  != partial("_freelance")
#main
  header
    h1 Krish Dholakiya
    nav.animated.fadeInDown
      a(href="#") Home
      a(href="#about") About
      a(href="#work") Work
      a(href="#contact") Contact
      a(href="#thoughts") Thoughts
  .what.animated.fadeInUp
    h1.wh Front-End Developer
    h1.wh Hacker
    h1.wh Entrepreneur
    .social
      a(href="http://twitter.com/krrishd", target="_blank")
        i.icon.ion-social-twitter
      a(href="http://github.com/krrishd", target="_blank")
        i.icon.ion-social-github
      a(href="mailto:krishna.dholakiya@gmail.com")
        i.icon.ion-email
      a(href="http://krrishd.github.io/resume")
        | C.V.
      a(href="/pgp.txt")
        i.icon.ion-unlocked
        | PGP
#about
  h1.title About
  article
    :markdown
      ![profpic](https://secure.gravatar.com/avatar/040664d40c5561d0393026641ccead1a?s=300)
      Hi, I'm **Krish Dholakiya**: front-end developer, entrepreneur, and student. I'm passionate about one thing: **people**. Whether that means creating *better digital experiences* for them, *talking* to them, or simply *learning more* about them, I try to do it all. I'm currently the founder of [openSourceSchool](http://openSourceSchool.co), a front-end developer @ [Globality](http://beglobality.com), and also Social Media Director for Colorado [DECA](http://deca.org). I'm lovin' it.

#work(ng-controller="workCtrl")
  h1.title Work
  #items
    .item(ng-repeat="item in work", ng-mouseover="pulse")
      a(ng-href="{{ item.url }}", target="_blank")
        img(ng-src="{{ item.covers[404]}}")
        //p {{ item.name }} 
#contact
  h1.title Contact Me
  p To contact me about opportunities in regards to freelance work, internships, and more, feel free to contact me through the following:
    :markdown
      * <i class="icon ion-email"></i> Email: krishna.dholakiya [@] gmail.com
      * <i class="icon ion-social-twitter"></i> Twitter: <a href="http://twitter.com/krrishd">@krrishd</a>
#thoughts
  h1.title Thoughts
  .blog(ng-controller="blogCtrl")
    h2 Blog
    .post(ng-repeat="post in posts") 
      a(ng-href="{{  post.url }}")
        | {{ post.title + " - " + (post.date | date)}}
  .twitterWidget
    <a class="twitter-timeline" href="https://twitter.com/krrishd" data-widget-id="426157309501255681">Tweets by @krrishd</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>







