h1.name.element-animated.slide-from-top.short krish dholakiya
.about
	p I'm a 
		b software engineer 
		| who dabbles in everything from 
		b design 
		| to 
		b product
		| . I work on 
		a.slice(href="//slice.capital") slice.capital
		| , and also work part-time as a 
		b freelance software developer
		| . 
	p I take interest in 
		b music 
		| (production and as a listener), 
		b politics
		| , and other things you might see pop-up from time to time on my 
		a.twitter(href="//twitter.com/krrishd") twitter
		| .
.contact
	p Let's talk: you can email me at 
		a(href="mailto:krish@slice.capital") krish@slice.capital
		|  or 
		a.twitter(href="https://twitter.com/messages/compose?recipient_id=114597133") DM me on Twitter
		| . Here's my 
		a.resume(href="/resume.pdf") resumé
		|  if that's what you're looking for.
#app