doctype html
html
	head
		title Krish Dholakiya	
		link(href="/main.css", type="text/css", rel="stylesheet")
		meta(name="viewport", content="initial-scale=1;")
		script(src="/lib/angular/angular.min.js")
		script(src="/app.js")
	body
		.sidebar
			.img
				img(src="http://gravatar.com/avatar/040664d40c5561d0393026641ccead1a?s=300")
			ul.links
				li.email(title="krishna.dholakiya@gmail.com")
					a(href="mailto:krishna.dholakiya@gmail.com")
						i.fa.fa-envelope
				li.github(title="@krrishd")
					a(href="http://git.io/krish")
						i.fa.fa-github
				li.cv(title="registry.jsonresume.org/krish")
					a(href="http://registry.jsonresume.org/krish")
						i.fa.fa-briefcase
				li.linkedin(title="linkedin.com/in/krishdholakiya")
					a(href="http://linkedin.com/in/krishdholakiya")
						i.fa.fa-linkedin
				li.behance(title="@krishdholakiya")
					a(href="http://behance.net/krishdholakiya")
						i.fa.fa-behance
		!= yield
