doctype html
html
    head
        meta(name="viewport", content="initial-scale=1")
        meta(name="title", content="Krish Dholakiya (@krrishd)")
        meta(name="description", content="Krish Dholakiya is the founder of openSourceSchool.co and a web developer interested in educational tech and hackathons.")
        title Krish Dholakiya
        link(href="/main.css", type="text/css", rel="stylesheet")
        script(src="/app.js")
    body
        .hero
            .main
                h1 Krish Dholakiya
                h3 Founder @
                    a(href="http://openSourceSchool.co", target="_blank")  openSourceSchool.co
            .contact
                .email
                    a(href="mailto:krish@openSourceSchool.co") krish@openSourceSchool.co
                .github
                    a(href="http://git.io/krish") git.io/krish
        .content
            .three
                .item
                    h3 About Me
                    p
                        | I'm Krish Dholakiya, the founder of
                        a(href="http://openSourceSchool.co")  openSourceSchool.co
                        | , and a web developer interested in educational technology and hackathons.
                .item
                    h3 My Work
                    p
                        | Among my recent work is the following:
                        ul
                            li
                                a(href="http://github.com/krrishd/gitio-cli") gitio-cli
                            li
                                a(href="http://iamdeca.com") I am DECA
                            li
                                a(href="http://beglobality.com/dashboard") Globality
                .item
                    h3 Freelance
                    p
                        | I also
                        | do freelance work part time. I am a full stack web developer, and can build practically anything for the web (or for Node.js/NPM)
                        a.btn(href="mailto:krish@openSourceSchool.co") Email me with details
